/*Header*/
.AppHeader {
    padding: 45px;
    height: 95px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #373738, #070707);
  }
  
  .title {
    color: #fcda6c;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: 85px;
    transition: 6s ease;
  }
  
  .title:hover {
    font-size: 100px;
    font-weight: 450;
    transition: 4s ease;
  }
  
  /*Body*/
  .bodyFolio {
    padding: 30px;
    background-color: rgba(242, 244, 247, 0.779);
    padding-left: 4%;
    padding-right: 3%;
  }
  
  .containerBody {
    display: flex;
    height: 600px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #3d3d3d, #000000);
    border-radius: 5px;
    position: relative;
  }
  
  .Texts {
    color: #DBD0AD;
    padding-left: 15%;
  }
  
  .welcomeMessage {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-bottom: 1px solid transparent;
    transition: 1s ease;
  }
  
  .welcomeMessage:hover {
    font-weight: 500;
    transition: 2.5s ease;
    border-color: #DBD0AD;
  }
  
  .Subtitle {
    font-weight: 450;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .textBody {
    margin-bottom: 15px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  .buttonsDiv {
    display: flex;
    flex-direction: column;
  }
  
  .buttonAbout, .buttonWork, .buttonContact {
    color: #DBD0AD;
    background-color: #323232;
    padding: 8px;
    width: 130px;
    margin-bottom: 6px;
    margin-top: 15px;
    margin-left: 50px;
    border-radius: 5px;
    font-weight: 550;
    transition: 0.3s linear;
    text-align: center;
  }
  
  .buttonAbout:hover, .buttonWork:hover, .buttonContact:hover {
    background-color: #DBD0AD;
    font-weight: 700;
    color: #30221b;
    border-radius: 8px;
    transition: 0.3s linear;
  }
  
  .buttonContact {
    background-color: #6df760;
    color: rgb(26, 26, 26);
  }
  
  .buttonContact:hover {
    background-color: #48e13a;
    color: aliceblue;
  }
  
  .myPhotoDiv {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  .myPhotoDiv.fade {
    opacity: 0;
  }
  
  .myPhoto {
    margin-left: auto;
    border-radius: 0 15px 15px 0;
    padding-top: 4px;
  }
  
  .sideMenu {
    height: 100%;
    width: 250px;
    position: absolute;
    top: 0;
    right: -250px;
    background-color: #111;
    overflow-x: hidden;
    transition: right 0.5s, width 0.5s;;
    padding-top: 60px;
    overflow-y: auto;
    display: none;
  }
  
  .sideMenu.open {
    right: 0;
    display: block;
  }
  
  .sideMenu .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #818181;
  }
  
  .menuContent a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding: 16px;
  }
  
  .menuContent a:hover {
    color: #f1f1f1;
  }

  .menuText {
    padding: 16px 32px;
    color: #818181;
    font-size: 16px;
    transition: opacity 0.3s ease;
    margin-bottom: 20px;
  }  

  .menuText h3 {
    margin-bottom: 8px;
  }


  * Ensure side menu sticks inside container body only when open */
.containerBody:hover .sideMenu.open {
  right: 0;
}